.detail-container {
    width: 60%;
    margin: 2.5% auto;
}

.detail-image-container {
    padding-left: 2em;
    padding-right: 2em;
}

.detail-image-container p {
    margin: 0;
}

.detail-text-container {
    padding-left: 2em;
    padding-right: 2em;
    border-left: 1px solid rgba(23, 162, 184, 0.5);
}

.instructor-image {
    width: 110px;
    height: 110px;
    margin-bottom: 1em;
}

.instructor-link {
    color: rgb(23, 162, 184);
}

.instructor-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.detail-buttons-container, .alerts-container {
    /* text-align: center; */
    margin: 0 auto;
}

.detail-buttons-container button, .detail-buttons-container a{
    margin-right: 1em;
}

.student-list-container {
    text-align: center;
}

.student-list-container div{
    display: inline-block;
    text-align: left;
}

.student-list-container .card {
    margin: 1em;
    cursor: pointer;
}

.student-list-container .card-body {
    width: 23em;
}

.rate-class-label {
    margin-top: 1.5%;
    margin-bottom: 0;
}

.detail-comments-container  {
    border-top: 1px solid rgba(23, 162, 184, 0.5);
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
}

.detail-comments-container h3 {
    padding-top: 1.5%;
}

.comment-input-container form{
    padding-top: 2%;
    width: 100%;
}

.modal {
    background-color: rgba(0,0,0,0.3) !important;
    max-height: 100% !important;
}

.modal-footer > :not(:last-child) {
    margin-right: .25rem !important;
}