.jumbotron {
    width: 60%;
    margin: 2.5% auto;
}

.bold-text {
    font-weight: bold;
}

.pagination-container .active {
    background-color: #17a2b8 !important;
}

.pagination li {
    height: auto !important;
}